html, body {
  background: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
}

#about-section, #projects-section, 
#skills-section, #services-section, 
#setup-section, #contact-section {
  font-size: 1.2rem;
  margin: 40px 0 50px 0;
  padding: 0 50px;
  text-align: left;
}

.active {
  background: #ec091c !important;
  border-radius: 5px;
  color: white !important;
  text-decoration: none;
  padding: 5px;
}

.amatic {
  font-family: 'Amatic SC', cursive;
}

.bold {
  font-weight: bold;
}

.bigger-font {
  font-size: 1.5rem;
}

#canada img {
  height: 40px;
  filter: brightness(140%);
  -webkit-filter: brightness(140%);
}

.checkmark {
  color: mediumseagreen;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 2px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  padding: 40px 0 5px 0;
}

.italic {
  font-style: italic;
}

.left {
  float: left;
}

.left-align {
  text-align: left;
}

li {
  padding: 5px 0;
}

#ma-icon img {
  width: 44px;
  margin-top: 10px;
}

.margin-top-bottom {
  margin: 40px 0;
}

#name {
  color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
  font-weight: 700;
  margin: 10px 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#nav-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.nav-link {
  font-family: 'Share Tech Mono', 'Segoe UI', sans-serif;
  font-size: 1.4rem;
  margin-top: 25px;
  padding: 0 10px;
  text-decoration: none;
}

.nav-link a {
  color: black;
  padding: 5px;
}

.nav-link a:hover {
  background: #ec091c;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
}

.nav-link a:active, .nav-link a:focus {
  outline: none;
}

.project-desc {
  margin: 20px auto;
  text-align: left;
}

.project-image {
  border: 5px solid black;
  margin: 10px 0;
  max-width: 99%;
  filter: contrast(110%);
  -webkit-filter: contrast(110%);
}

.project-git {
  display: flex;
  align-items: center;
}

.project-git a {
  color: black;
}

.project-git a:hover {
  color: red;
  text-decoration: none;
}

.project-git-icon {
  width: 28px;
  padding-right: 5px;
  filter: brightness(130%);
  -webkit-filter: brightness(130%);
}

.project-link {
  margin-top: 5px;
}

.project-link a {
  color: black;
}

.project-link a:hover {
  color: red;
  text-decoration: none;
}

.relative {
  position: relative !important;
}

.right {
  float: right;
}

.right-align {
  text-align: right;
}

#root {
  background: url('images/bg.png');
  border-left: 10px solid black;
  border-right: 10px solid black;
  margin: 0 auto;
  width: 60%;
}

section {
  flex-grow: 1;
  flex-shrink: 0;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
}

#signature {
  text-align: left;
}

#signature img {
  height: 100px;
}

.sharetech {
  font-family: 'Share Tech Mono', 'Segoe UI', sans-serif;
}

#social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 32px;
  padding: 0 2px;
}

.social-icon:hover {
  filter: brightness(140%);
  -webkit-filter: brightness(140%);
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

ul {
  list-style: square;
  margin-top: 5px;
}

@media screen and (max-width: 800px) {
  html, body {
    line-height: 1.5rem;
    border: 3px solid black;
  }

  #about-section, #projects-section, 
  #skills-section, #services-section, 
  #setup-section, #contact-section {
    font-size: 1rem;
    padding: 0 10px;
    text-align: left;
  }

  .checkmark {
    position: absolute;
    margin-top: -3px;
  }

  .column-one, .column-two, .column-three {
    flex-basis: 100%;
  }

  .column-two {
    margin-top: 20px;
  }

  .flex {
    flex-wrap: wrap;
  }

  footer {
    padding: 10px 0 5px 0;
  }

  li {
    padding: 2px 0;
  }

  #ma-icon img {
    width: 64px;
    margin-bottom: 20px;
  }

  .margin-top-bottom {
    margin: 20px 0;
  }

  #name {
    display: none;
    font-size: 3rem;
    margin: 15px 0 30px 0;
    letter-spacing: 1px;
  }

  #nav-bar {
    margin-bottom: 0;
  }

  .nav-link {
    font-size: 1rem;
    margin-top: 20px;
    padding: 0 2px;
  }

  .project-image {
    border: 2px solid black;
  }

  #root {
    border: none;
    width: 95%;
  }

  .section-title {
    font-size: 1.2rem;
  }

  .skill-type-header {
    margin-left: 40px;
  }

  #skills-list {
    justify-content: center !important;
  }

  .skills-flex {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 10px 0 35px 10px;
  }

  .skills-flex li {
    flex: 0 0 50%;
  }

  .social-icon {
    width: 30px;
    padding: 0 4px;
  }
}